<%- include('head'); -%>
	<main>
		<div class="jumbotron jumbo-override">
			<p class="lead">
				<i class="fa fa-gamepad" aria-hidden="true"></i> Game Page
			</p>
			<div class="row-fluid">
			</div>
		</div>
	</main>
<%- include('foot'); -%>