<%- include('head'); -%>
<main>
    <div class="jumbotron jumbo-override">
        <p class="lead">An error occurred!</p>
        <hr class="my-4">
        <p><%= message_tag %></p>
    </div>
</main>
<%- include('foot'); -%>